.footer {
    width: 100%;
    background-color: $primaryColor;
}

.footer__container {
    width: 1000px;
    height: 74px;
    margin: auto;
    padding-top: 15px;
    color: #ffffff;
    p {
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

/*============================================================================
------------------------ Media query -----------------------------------------
******************************************************************************/
/*------------------------------------*\
                $TABLET DEVICES
\*------------------------------------*/
@media screen and (max-width: 991px) {
    .footer__container {
        width: 100%;
    }
}
