/*------------------------------------*\
          $Wrap of the img full
\*------------------------------------*/
#wrapImgInfomation {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(6, 6, 6, 0.7);
    display: none;
    top: 0;
    left: 0;
}
.wrapImgInfomation__showImg {
    width: 1000px;
    margin: auto;
    text-align: center;
    padding-top: 2%;
    margin-bottom: 15px;
}
.showImg__temp {
    max-width: 421px;
    margin: auto;
    img {
        max-width: 100%;
        margin-bottom: 15px;
    }
}
/*------------------------------------*\
  $footer container and text style
\*------------------------------------*/
.temp__footer {
    width: 100%;
    margin: auto;
    text-align: justify;
    color: #ffffff;
}
#footer__name {
    font-family: arial;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}
#footer__artis {
    @extend #footer__name;
    font-size: 18px;
}
#footer__about {
    font-size: 14px;
    font-family: arial;
    font-style: regular;
    margin-bottom: 15px;
}
#footer__price {
    font-size: 14px;
    font-family: arial;
    font-style: italic;
    color: #ffcccc;
    margin-bottom: 15px;
}
/*-------------------------------------------------*\
     Father container btn and btn next and prev
\*------------------------------------------------*/
.wrapImgInfomation__btn {
    width: 1000px;
    height: 570px;
    margin: auto;
    position: relative;
}
/*------------------------------------*\
        $Btn close information
\*------------------------------------*/
.showImg__btnClose {
    width: 45px;
    height: 45px;
}
.showImg__btnClose--style {
    color: #fff;
    border: 2px solid #fff;
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 5px;
    z-index: 98;
    text-align: center;
    padding-top: 5px;
    &:hover {
        background: radial-gradient(circle,rgba(33, 32, 32, 0.72),rgb(101, 101, 101));
    }
    p {
        font-size: 25px;
        font-weight: bold;
        padding-top: 2px;
    }
}
/*------------------------------------*\
          $Arrow
\*------------------------------------*/
//--- Arrow  left of the picture
.temp__wrapArrowRight {
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 5px;
    z-index: 100;
    &:hover {
      .wrapArrowRight__style {
        border-right: 13px solid rgb(197, 197, 197);
      }
    }
}
.wrapArrowRight__style {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 13px solid #fff;
    align-self: center;
    &:hover{

    }
}
//--- Arrow  left of the picture
.temp__wrapArrowLeft {
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 5px;
    z-index: 100;
    &:hover {
      .wrapArrowLeft__style {
        border-left: 13px solid rgb(197, 197, 197);
      }
    }
}
//-- Arrow style left
.wrapArrowLeft__style {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 13px solid #fff;
    align-self: center;

}
/*============================================================================
------------------------ Media query -----------------------------------------
******************************************************************************/
/*------------------------------------*\
                $TABLET DEVICES
\*------------------------------------*/
@media screen and (max-width: 991px) {
    .wrapImgInfomation__showImg {
        width: 100%;
    }
    .wrapImgInfomation__btn {
        width: 100%;
    }
    .temp__wrapArrowRight {
        left: 2%;
    }
    .temp__wrapArrowLeft {
        right: 11px;
    }
}

/*------------------------------------*\
              $SMARTPHONE DEVICES
\*------------------------------------*/
@media screen and (max-width: 767px) {
    .wrapImgInfomation__showImg {
        text-align: center;
        padding: 60px 15px 0;
    }
    .wrapImgInfomation__btn {
        height: 647px;
    }
    .temp__wrapArrowRight {
        top: 50%;
        left: 17px;

    }
    .temp__wrapArrowLeft {
        top: 50%;
        right: 17px;
    }
}
